<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <%- include('../partials/header') %>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>GENRE: <%= movie.genre.name %> </p>
    <br>
    <section>
        <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
        <a  class="botonModificar" href="/movies/edit/<%= movie.id %>">Modificar</a>
        <a  class="botonBorrar" href="/movies/delete/<%= movie.id %>">Borrar</a>
            
        <a class="botonVolver" href="/movies">Listado de Películas</a>
    </section>

</body>
</html>